[Unit]
Description="Track cat behaviour"
After=network.target

[Service]
ExecStart=/usr/bin/python3 cattracker.py
WorkingDirectory=/home/cattracker/cattracker
StandardOutput=inherit
StandardInput=inherit
Restart=always
User=cattracker

[Install]
WantedBy=multi-user.target
